/* register.module.css */
.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
}
  
.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: white;
    align-self: flex-start; /* Alinea las etiquetas a la izquierda */
}
  
.input {
    width: 100%; /* Ajusta el tamaño del campo de entrada */
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #171717;
    background-color: #171717;
    color: white;
    font-size: 1rem;
}
  
.input:focus {
    outline: none;
    border: 1px solid #22c55e;
}
  
.submitButton {
    background-color: #22c55e;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
    margin-top: 10px;
}
  
.submitButton:hover {
    background-color: #3bb143;
}
  
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

.showPassword {
    display: flex;
    align-items: center;
    color: #b9baba;
    font-size: 0.9rem;
}
  
.showPassword input {
    margin-right: 8px;
}

.loginNotice {
    margin-top: 16px;
    color: #b9baba; 
    font-size: 1rem;
  }
  
  .loginLink {
    color: #FFFFFF; 
    text-decoration: none;
    margin-left: 4px;
  }
  
  .loginLink:hover {
    color: #3bb143;
  }
